<%= render 'pages/header' %>

<div class="ui form center_form">
    <%= form_tag sessions_path do %>
        
        <div class="field">
            <%= label_tag :email, 'Email' %>
            <%= text_field_tag :email %>
        </div>

        <div class="field">
            <%= label_tag :password, 'Password' %>
            <%= password_field_tag :password %>
        </div>    

        <%= submit_tag 'Login', class: 'ui tiny button' %>

    <% end %>
</div>