<%= render 'pages/header' %>
<div class="ui form center_form">
    <%= form_for @user do |f| %>
        <div class="field">
            <%= f.label :email, 'Email' %>
            <%= f.text_field :email %>
        </div>
        <div class="field">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation, 'Password confirmation' %>
            <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit 'Sign up now', class: 'ui tiny button' %>
        <div class="ui horizontal divider">Or sign up with</div>
        <%= link_to auth_at_provider_path(provider: :facebook), class: 'mini ui facebook button', id: 'facebook' do %>facebook<% end %>
    <% end %>
</div>