<%= render 'pages/header' %>

<div class="info">
    <div class="info_head">
        <%= @user.display_name %>
    </div>
    <%= form_for @user do |f| %>
        <div class="field">
            <%= f.label 'email', 'Email' %>
            <%= f.text_field 'email' %>
        </div>
        <div class="field">
            <%= f.label 'first_name', 'First Name' %>
            <%= f.text_field 'first_name' %>
        </div>
        <div class="field">
            <%= f.label 'last_name', 'Last Name' %>
            <%= f.text_field 'last_name' %>
        </div>
        <div class="field">
            <%= f.label 'birthday', 'Birthday' %>
            <%= f.text_field 'birthday' %>
        </div>
        <div class="field">
            <%= f.label 'city', 'City' %>
            <%= f.text_field 'city' %>
        </div>
        <div class="field">
            <%= f.label 'province', 'Province' %>
            <%= f.text_field 'province' %>
        </div>
        <div class="field">
            <%= f.label 'country', 'Country' %>
            <%= f.text_field 'country', value: 'Canada' %>
        </div>
        <%= f.submit 'Update info', class: 'submit' %>
    <% end %>
</div>
<div class="stats">
    <div class="stat">
       <span><%= @in_progress_gifts %></span><br> in-progress gifts
    </div>
    <div class="ui divider"></div>
    <div class="stat">
       <span><%= @completed_gifts %></span><br> completed gifts
    </div>
    <div class="ui divider"></div>
    <div class="stat">
       <span><%= @completed_hours %></span><br> completed hours
    </div>    
</div>
<div class="gift_history_container">
    <span class="section_title">My gifts</span>
    <div class="ui divider"></div>
    <%= render partial: 'gifts/gift', collection: @gifts %>
</div>