
<div class="gift_less_detail ui form">
    <div class="status <%= if gift.status == 'In progress'; 'in_progress' elsif gift.status == 'Completed'; 'completed' end%>">
        <%= gift.status %>
    </div>
    <div class="field">
        <h1>Gift: <%= gift.gift_comp_id %></h1>
    </div>
    <div class="field">
        <h1>Recipient: <%= gift.recipient_name %></h1>
        
    </div>
    <div class="field">
        <h1>Gift creation date: <%= gift.created_at.strftime('%Y-%m-%d').to_s %></h1>
    </div>
    <%= link_to edit_gift_path(gift.gift_comp_id) do %>
        <div class="ui tiny button">Edit gift info</div>
    <% end %>
    <% if gift.status == 'In progress' %>
        <%= link_to complete_gift_path(gift.gift_comp_id) do %>
            <div class="ui tiny button">Complete gift</div>
        <% end %>
    <% end %>
    <%= link_to gift_path(gift.gift_comp_id), method: 'DELETE' do %>
        <div class="ui tiny button">Delete gift</div>
    <% end %>
</div>