<%= render 'pages/header' %>

<div class="ui form center_form">
    <%= form_for @gift, url: gift_path(@gift.gift_comp_id), method: 'PATCH', html: {multipart: true} do |f| %>
        <div class="field">
            <%= f.label :recipient_name, 'Recipient' %>
            <%= f.text_field :recipient_name, readonly: "readonly", disabled: "disabled" %>
        </div>
        <div class="field">
            <%= f.label :relationship_to_gifter, 'Relationship' %>
            <%= f.text_field :relationship_to_gifter, readonly: "readonly", disabled: "disabled" %>
        </div>
        <div class="field">
            <%= f.label :cause, 'Cause' %>
            <%= f.text_field :cause, readonly: "readonly", disabled: "disabled" %>
        </div>
        <div class="field">
            <%= f.label :description, 'Description of volunteer' %>
            <%= f.text_area :description, readonly: "readonly", disabled: "disabled" %>
        </div>
        <div class="field">
            <%= f.label :hours, 'How many hours did you volunteer for?' %>
            <%= f.text_fiel :hours %>         
        </div>
        <div class="field">
            <%= f.label :inspiration, 'How did the recipient inspire you to perform this specific act?' %>
            <%= f.text_area :inspiration %>
        </div>
        <div class="field">
            <%= f.label :feel, 'How did you feel performing this act?' %>
            <%= f.text_area :feel %>
        </div>
        <div class="field">
            <%= f.label :detailed_message, 'Leave a personal message for the recipient' %>
            <%= f.text_area :detailed_message %>
        </div>
        <% if @gift.photo_exists? %>
            <%= image_tag @gift.volunteer_photos.url%>
            <%= link_to remove_photo_path(@gift.gift_comp_id), method: 'PATCH' do %>
                <div class="ui tiny button">Remove photo</div>
            <% end %>
        <% else %>
            <div class="field">
                <%= f.label :volunteer_photos, 'Upload a picture of you performing the act (JPEG, GIF or PNG)' %>
                <%= f.file_field :volunteer_photos %>
            </div>
        <% end %>
        <%= f.submit 'Complete gift', class: 'ui tiny button' %>
    <% end %>
    <%= link_to user_profile_path do %>
        <div class="ui tiny button">Back</div>
    <% end %>
</div>