<%= render 'pages/header' %>

<div class="info">
What do you get for the individual who has everything? <br><br>  You give them The Gift of Time, your time! By donating your time on behalf of another through The Gift of Time, you maximize the three attributes that derive value in the eyes of the receiver and create a truly impactful gift: <br><br>
   Highly personalized by choosing a social action targeted towards the receiver<br>
   High value by donating personal resources valued greater than currency<br>
   Proof of planning, effort and time spent<br><br>
To effectively maximize these three elements, please answer the questions thoroughly and upload a picture of yourself performing the act.
<div class="ui inverted divider"></div>
</div>

<div class="ui form center_form">

    <%= form_for @gift do |f| %>
        <div class="field">
            <%= f.label :recipient_name, 'Who are you donating your time for?' %>
            <%= f.text_field :recipient_name, placeholder: 'Full name' %>
        </div>
        <div class="field">
            <%= f.label :relationship_to_gifter, 'Relationship' %>
            <select id='gift_relationship_to_gifter' name='gift[relationship_to_gifter]'>
                <option class="item" value="Mother/Father">Mother/Father</option>
                <option class="item" value="Brother/Sister">Brother/Sister</option> 
                <option class="item" value="Aunt/Uncle">Aunt/Uncle</option> 
                <option class="item" value="Cousin">Cousin</option> 
                <option class="item" value="Friend">Friend</option> 
                <option class="item" value="Mentor">Mentor</option> 
                <option class="item" value="Significant other">Significant other</option> 
            </select>
        </div>
        <div class="field">
             <%= f.label :cause, 'To what cause are you donating your time?' %>
            <select id='gift_cause' name='gift[cause]'>
                <option class="item" value="Academia, Learning and Skills Development">Academia, Learning and Skills Development</option>
                <option class="item" value="Alcoholism and Drug Abuse">Alcoholism and Drug Abuse</option> 
                <option class="item" value="Animal Rights">Animal Rights</option> 
                <option class="item" value="Children's Support and Rights">Children's Support and Rights</option> 
                <option class="item" value="Civil Rights">Civil Rights</option> 
                <option class="item" value="Community Involvement">Community Involvement</option> 
                <option class="item" value="Disaster Support">Disaster Support</option> 
                <option class="item" value="Education">Education</option> 
                <option class="item" value="Elderly">Elderly</option> 
                <option class="item" value="Environmental">Environmental</option> 
                <option class="item" value="Homeless/Poverty">Homeless/Poverty</option> 
                <option class="item" value="Human Rights">Human Rights</option> 
                <option class="item" value="Illness - Research and Awareness">Illness - Research and Awareness</option> 
                <option class="item" value="International Aid">International Aid</option> 
                <option class="item" value="LGBT">LGBT</option> 
                <option class="item" value="Mental Health">Mental Health</option> 
                <option class="item" value="Pay it Forward - Act of Kindness">Pay it Forward - Act of Kindness</option> 
                <option class="item" value="Political">Political</option> 
                <option class="item" value="Racism">Racism</option> 
                <option class="item" value="Religious">Religious</option> 
                <option class="item" value="Women's Rights">Women's Rights</option> 
                <option class="item" value="Other">Other</option> 
            </select>           
        </div>
        <div class="field">
            <%= f.label :other_cause, 'If other, what social cause?' %>
            <%= f.text_field :other_cause %>
        </div>
        <div class="field">
            <%= f.label :description, 'Describe the volunteer act you will perform' %>
            <%= f.text_area :description %>
        </div>
        <div class="field">
            <%= f.label :organization, 'What is the organization you will donate your time to?' %>
            <%= f.text_field :organization %>
        </div>
        <%= f.submit 'Create gift', class: 'ui tiny button', id: 'create_gift' %>
    <% end %>
</div>