<div class="header">
    <div class="logo">Logo goes here</div>
    <div class="nav">
        <%= link_to find_gift_path do %>
            <div class="nav_button" id="gift_look_up">Find a gift</div>
        <% end %>
        <%= link_to new_gift_path do %>
            <div class="nav_button" id="new_gift">Make a gift</div>
        <% end %>
        <div class="nav_button" id="volunteer">Volunteer resources</div>
        
        <% if !current_user %>
            <%= link_to new_session_path do %>
                <div class="nav_button" id="login">Login</div>
            <% end %>
            <%= link_to new_user_path do %>
                <div class="nav_button" id="signup">Sign up</div>
            <% end %>
        <% else %>
            <div class="nav_button" id='user'><%= current_user.email %></div>
            <div class="nav_button" id="history">View my gifts</div>
            <%= link_to session_path('current'), method: 'DELETE' do %>
                <div class="nav_button" id='logout'>Logout</div>
            <% end %>
        <% end %>   
    </div>
</div>