<!DOCTYPE html>
<html>
<head>
  <title>Gift of time</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag '//cdn.datatables.net/1.10.0/css/jquery.dataTables.css', type: 'text/css' %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>

</head>
<body>
<%= yield %>
<div class="ui dimmer page">
  <div class="ui basic modal transition">
    <div class="content">
      <div class="message"></div>
      <div class="button_container">
        <div class="ui green button">Okay</div>
      </div>
    </div>
  </div>
</div>  
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "//cdn.datatables.net/1.10.0/js/jquery.dataTables.js", charset: 'utf8', type:'text/javascript' %>
</body>
</html>
